/**
*  APP WRAPPER BASE STYLES
*/

@import '~stylesRoot/variables.scss';

.mainWrapper {
  width: calc(100% - 44px);
  margin: 0 auto;
  background: black;
  overflow-x: hidden;
}

@media screen and (max-width: $desktop-size) {
  .mainWrapper {
    width: calc(100% - 30px);
  }

}

@media screen and (max-width: $mobile-lg-size) {
  .mainWrapper {
    width: 100%;
  }

}



/**
* Global footer styles
*/

.mainFooter {

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 997;
    height: 22px;
    background: white;

    .mainFooter__logoLink {
      position: absolute;
      top: -30px;
      right: 22px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      background: black url(/images/icons/github_icon.jpg) no-repeat center;
      background-size: 20px 20px;
    }

}

@media screen and (max-width: $desktop-size) {
  .mainFooter {
    .mainFooter__logoLink { 
      right: 15px;
    }
  }

}

@media screen and (max-width: $mobile-lg-size) {
  .mainFooter {
    //display: none;
    .mainFooter__logoLink { 
      display: none;
    }
  }

}