<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="react-root"></div>

        <script>
            (function(m,r,o,l,e,s){m.GoogleAnalyticsObject=l;m[l]||(m[l] =
            function(){(m[l].q=m[l].q||[]).push(arguments)});m[l].l = +new Date;
            e = r.createElement(o);s = r.getElementsByTagName(o)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            s.parentNode.insertBefore(e, s)}(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X', 'auto');ga('send', 'pageview');
        </script>
    </body>
</html>