<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="author" content="Oles Andrienko">
        <meta name="description" content="The personal website of Oles Andrienko. Oles is a student currently studying Robotics at the University of Waterloo. Oles like to work technology projects, read during his spare time, and occasionally take long walks on the beach.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="EerekgQDuwUSl6b1Hl7HsaNnON3MKa8r-bNlpJ3dfTM" />
<!--         <script type="application/javascript">
            window.__INITIAL_STATE__ = JSON.stringify( {{ store }} );
        </script> -->
    <link rel="shortcut icon" href="/bundles/favicon.ico"><link href="/bundles/app-db379ff9a6d7ad816245.css" rel="stylesheet"></head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="react-root">{{{ markup }}}</div>

	    <script>
	        (function(m,r,o,l,e,s){m.GoogleAnalyticsObject=l;m[l]||(m[l] =
	        function(){(m[l].q=m[l].q||[]).push(arguments)});m[l].l = +new Date;
	        e = r.createElement(o);s = r.getElementsByTagName(o)[0];
	        e.src = 'https://www.google-analytics.com/analytics.js';
	        s.parentNode.insertBefore(e, s)}(window, document, 'script', 'ga'));
	        ga('create', 'UA-69514541-1', 'auto');ga('send', 'pageview');
	    </script>
    <script type="text/javascript" src="/bundles/vendor-db379ff9a6d7ad816245.js"></script><script type="text/javascript" src="/bundles/app-db379ff9a6d7ad816245.js"></script></body>
</html>
